@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto);/*
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
*/

.navbar-header {
  background-color: #8BC34A;
  padding: 5px 0;
}

.navbar-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0;
  line-height: 0;
}

.navbar-header .navbar-brand svg {
  height: 28px;
  width: auto;
  margin-top: 6px;
}

.navbar-header form {
  margin-top: 2px;
}

.navbar-header form input[type="text"] {
  background-color: #AED581;
  color: #fff;
  border: 0;
}

.navbar-header form input[type="text"]::-webkit-input-placeholder {
  color: #fff !important;
}

.navbar-header form input[type="text"]:-moz-placeholder {
  color: #fff !important;
}

.navbar-header form input[type="text"]::-moz-placeholder {
  color: #fff !important;
}

.navbar-header form input[type="text"]:-ms-input-placeholder {
  color: #fff !important;
}

.navbar-header form button {
  background-color: #AED581;
  color: #fff;
  border: 0;
}

footer {
  background-color: #FAFAFA;
}

footer a {
  color: #9E9E9E;
}

.card-post {
  border-radius: 0;
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-post .title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #212529;
  margin-bottom: 10px;
}

.card-post .card-img {
  border-radius: 0;
}

.card-post .card-img-overlay {
  top: auto;
  padding-top: 45px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(to top, black, transparent);
}

.card-post .card-img-overlay .title {
  color: #fafafa !important;
}

.card-post .card-img-overlay .excerpt {
  color: #E0E0E0;
}

.card-post .excerpt {
  font-size: 1rem;
  margin-bottom: 0;
}

.category-post .card-img {
  border-radius: 0;
}

.category-post .excerpt {
  font-size: 1rem;
  margin-bottom: 25px;
}

.category-post .title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #212529;
  margin-top: 25px;
  margin-bottom: 10px;
}

.category-post:hover {
  text-decoration: none;
}

.category-post:hover img {
  opacity: .9;
}

@media (max-width: 991px) {
  .card-post .card-img-overlay {
    position: relative !important;
    padding-top: 25px !important;
    background: white !important;
  }

  .card-post .card-img-overlay .title {
    color: #212529 !important;
  }

  .card-post .card-img-overlay .excerpt {
    color: #868e96 !important;
  }
}

.card-post:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.18);
}

.card-post:hover img {
  opacity: 0.95;
}

.post {
  border: 0;
  border-radius: 0;
}

.post .lead {
  font-size: 1.5rem;
}

.post .post-author {
  text-align: center;
  font-size: 0.9rem;
  color: #868e96;
}

.post .post-author .author-avatar {
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.post h1 {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
}

.post h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 30px 0 15px;
}

.post h3 {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 20px 0 15px;
}

.post ul li {
  margin-bottom: 10px;
}

.post .post-featured-image img {
  width: 100%;
  height: auto;
}

.post .post-featured-image .credits {
  color: #868e96;
  font-size: 0.8rem;
  margin-top: 5px;
}

.post .post-featured-image .credits a {
  color: #868e96;
}

.post .post-content video {
  width: 75% !important;
  height: auto !important;
}

.post .post-content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post .post-content .video-container {
  position: relative;
  display: inline-block;
}

.post .post-content .video-control-play,
.post .post-content .video-control-pause {
  color: white;
  font-size: 3rem;
  opacity: 0.75;
  left: 25px;
  bottom: 25px;
  position: absolute;
  z-index: 999;
}

.post .post-content .video-control-pause {
  display: none;
}

.post .post-content figcaption {
  color: #868e96;
  font-size: 0.8rem;
  margin-top: 5px;
}

.post .post-content figcaption a {
  color: #868e96;
}

.post .post-content ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
  margin-top: 25px;
}

.post .post-content ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 6px 2em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 10px 20px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
  border-top: 2px solid #8BC34A;
  background: #F1F8E9;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.post .post-content ol > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #8BC34A;
  color: #fff;
  background: #8BC34A;
  font-weight: bold;
  text-align: center;
}

.post .post-content li ol,
.post .post-content li ul {
  margin-top: 6px;
}

.post .post-content ol ol li:last-child {
  margin-bottom: 0;
}

.container-grey-wrapper {
  background-color: #f0f0f0;
}

.card-subscribe {
  background-color: #8BC34A;
}

.post-share {
  padding-top: 25px;
  text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
  padding-top: 100px;
}

#share {
  width: 100%;
  text-align: center;
}

/* buttons */

#share a {
  width: 46px;
  height: 46px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  opacity: 0.75;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  line-height: 24px;
}

#share a:hover {
  opacity: 1;
}

/* icons */

#share i {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* colors */

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.googleplus {
  background: #dd4b39;
}

.linkedin {
  background: #0077b5;
}

.pinterest {
  background: #cb2027;
}

@media (max-width: 991px) {
  .post-author {
    display: none;
  }

  .post-share {
    display: none;
  }
}

.gallery-container {
  background-color: #424242;
}

.gallery-container h1.title {
  color: white;
}

.gallery-container img {
  width: 100%;
}

.gallery-container .description {
  color: #BDBDBD !important;
}

.gallery-container .gallery-big-icon {
  font-size: 10rem !important;
  opacity: 0.75;
}

.gallery-image-container {
  position: relative;
}

.gallery-image-container .carousel-control-next {
  background: -webkit-gradient(linear, right top, left top, from(black), to(transparent));
  background: linear-gradient(to left, black, transparent);
}

.gallery-image-container .carousel-control-prev {
  background: -webkit-gradient(linear, left top, right top, from(black), to(transparent));
  background: linear-gradient(to right, black, transparent);
}

.gallery-image-container .carousel-control-next,
.gallery-image-container .carousel-control-prev {
  opacity: 0.8;
}

.gallery-image-container .carousel-control-next:hover,
.gallery-image-container .carousel-control-prev:hover {
  opacity: 0.7;
}

.card-gallery {
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-gallery .card-img {
  border-radius: 0;
}

.card-gallery .card-img-overlay {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.card-gallery .title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.card-gallery .fa {
  font-size: 2rem;
}

.card-gallery:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.18);
}

.card-gallery:hover img {
  opacity: 0.95;
}

.card-gallery:hover .card-img-overlay {
  background: rgba(0, 0, 0, 0.28);
  color: white;
}

p,
ul li {
  font-size: 1.1rem;
}

body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

body.post {
  background-color: #fff;
}

a {
  color: #689F38;
}

a:hover {
  color: #33691E;
}

.text-muted a {
  color: #868e96 !important;
}

