.gallery-container {
  background-color: #424242;

  h1.title {
    color: white;
  }

  img {
    width: 100%;
  }

  .description {
    color: #BDBDBD !important;
  }
  .gallery-big-icon {
    font-size:10rem !important;
    opacity: 0.75;
  }
}

.gallery-image-container {
  position: relative;

  .carousel-control-next {
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .carousel-control-prev {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .carousel-control-next, .carousel-control-prev {
    opacity: 0.8;
  }
  .carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 0.7;
  }
}

.card-gallery {
  border: 0;
  border-radius: 0;
  transition:all 0.3s ease;

  .card-img {
    border-radius: 0;
  }

  .card-img-overlay {
    background: rgba(0,0,0,0.3);
    color: white;
  }

  .title {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .fa {
    font-size: 2rem;
  }
}

.card-gallery:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);
  box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);

  img {
    opacity:0.95;
  }

  .card-img-overlay {
    background: rgba(0,0,0,0.28);
    color: white;
  }
}
