.navbar-header {
  background-color: #8BC34A;
  padding: 5px 0;

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0;
    line-height: 0;

    svg {
      height: 28px;
      width: auto;
      margin-top: 6px;
    }
  }

  form {
    margin-top:2px;

    input[type="text"] {
      background-color: #AED581;
      color: #fff;
      border: 0;

      @include placeholder {
        color: #fff !important;
      }
    }

    button {
      background-color: #AED581;
      color: #fff;
      border: 0;
    }
  }
}