/*
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
*/

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto');
@import "mixins";
@import "header";
@import "footer";
@import "post";
@import "subscribe";
@import "share_buttons";
@import "gallery";

p, ul li {
  font-size: 1.1rem;
}
body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

body.post {
  background-color: #fff;
}

a {
  color: #689F38;
}
a:hover {
  color: #33691E;
}

.text-muted {
  a {
    color: #868e96 !important;
  }
}

