.card-post {
  border-radius: 0;
  border: 0;
  transition:all 0.3s ease;

  .title {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size:1.5rem;
    letter-spacing: 1px;
    color: #212529;
    margin-bottom: 10px;
  }

  .card-img {
    border-radius: 0;
  }

  .card-img-overlay {
    top: auto;
    padding-top:45px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    .title {
      color: #fafafa !important;
    }
    .excerpt {
      color: #E0E0E0;
    }
  }

  .excerpt {
    font-size:1rem;
    margin-bottom: 0;
  }
}

.category-post {
  .card-img {
    border-radius: 0;
  }
  .excerpt {
    font-size:1rem;
    margin-bottom: 25px;
  }
  .title {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size:1.5rem;
    letter-spacing: 1px;
    color: #212529;
    margin-top:25px;
    margin-bottom: 10px;
  }
}
.category-post:hover {
  img {
    opacity: .9;
  }
  text-decoration: none;
}

@media (max-width: 991px) {
  .card-post {
    .card-img-overlay {
      position: relative !important;
      padding-top:25px !important;
      background: white !important;

      .title {
        color: #212529 !important;
      }
      .excerpt {
        color: #868e96!important
      }
    }
  }
}

.card-post:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);
  box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.18);

  img {
    opacity:0.95;
  }
}

.post {
  border: 0;
  border-radius: 0;

  .lead {
    font-size:1.5rem;
  }

  .post-author {
    text-align: center;
    font-size:0.9rem;
    color: #868e96;

    .author-avatar {
      width: 60px;
      border-radius: 50%;
      display:block;
      margin: 0 auto;
      margin-bottom:5px;
    }
  }

  h1 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size:3rem;
    letter-spacing: 1px;
  }
  h2 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 30px 0 15px;
  }
  h3 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin: 20px 0 15px;
  }

  ul li {
    margin-bottom: 10px;
  }

  .post-featured-image {

    img {
      width: 100%;
      height: auto;
    }
    .credits {
      color: #868e96;
      font-size:0.8rem;
      margin-top:5px;

      a {
        color: #868e96;
      }
    }
  }

  .post-content {
    video {
      width: 75% !important;
      height: auto !important;
    }

    img {
      width: 100%;
      height: auto;
      margin-top:10px;
    }

    .video-container {
      position: relative;
      display: inline-block;
    }

    .video-control-play, .video-control-pause {
      color: white;
      font-size: 3rem;
      opacity: 0.75;
      left: 25px;
      bottom: 25px;
      position: absolute;
      z-index: 999;
    }
    .video-control-pause {
      display: none;
    }

    figcaption {
      color: #868e96;
      font-size:0.8rem;
      margin-top:5px;

      a {
        color: #868e96;
      }
    }

    ol {
      counter-reset:li; /* Initiate a counter */
      margin-left:0; /* Remove the default left margin */
      padding-left:0; /* Remove the default left padding */
      margin-top:25px;
    }
    ol > li {
      position:relative; /* Create a positioning context */
      margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
      padding: 10px 20px; /* Add some spacing around the content */
      list-style:none; /* Disable the normal item numbering */
      border-top:2px solid #8BC34A;
      background:#F1F8E9;
      font-size: 1.1rem;
      margin-bottom: 25px;
    }
    ol > li:before {
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      /* Position and style the number */
      position:absolute;
      top:-2px;
      left:-2em;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      width:2em;
      /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
      margin-right:8px;
      padding:4px;
      border-top:2px solid #8BC34A;
      color:#fff;
      background:#8BC34A;
      font-weight:bold;
      text-align:center;
    }
    li ol,
    li ul {margin-top:6px;}
    ol ol li:last-child {margin-bottom:0;}
  }
}


.container-grey-wrapper {
  background-color: #f0f0f0;
}