.post-share {
  padding-top:25px;
  text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 100px;
}

#share {
  width: 100%;
  text-align: center;
}

/* buttons */

#share a {
  width: 46px;
  height: 46px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  opacity: 0.75;
  transition: opacity 0.15s linear;
  line-height: 24px;
}

#share a:hover {
  opacity: 1;
}

/* icons */

#share i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* colors */

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.googleplus {
  background: #dd4b39;
}

.linkedin {
  background: #0077b5;
}

.pinterest {
  background: #cb2027;
}

@media (max-width: 991px) {
  .post-author {
    display: none;
  }
  .post-share {
    display: none;
  }
}